extends layout

block content
  .container
    .col-2of5.bg-white.profile
      .relative.img-edit
        img.avatar(src="/img/avatar.jpg" alt="avatar")
        input.hidden(type="file")
        img.avatar-upload(src="/img/upload.png" alt="upload-img")
      input.input-profile(type="text" value="Yan Hong" placeholder="Full name")
      h5 @honlyan
      input.input-profile(type="text" value="Vancouver" placeholder="Location")
      textarea.input-profile(placeholder="Personal description")
        | Director of EduHacks * Digital Ocean Vancouver Meetup Co-organizer * CEO of HackHub * Founder of Inverse Technology Inc.
      a.btn-primary.space-top(href="/profile") Save
      a.btn-border.space-top(href="/profile") Cancel
    .col-3of5.bg-white.relative
      .tweet
        form(action="#")
          .row
            img.avatar-sm.v-top(src="/img/avatar.jpg" alt="avatar")
            textarea.input-tweet(placeholder="What's up?")
          .row.tweet-actions
            input.hidden(type="file")
            button.btn-clear
              i.far.fa-image
            button.btn-primary Post
      .tweet
        .row
          img.avatar-sm(src="/img/avatar.jpg" alt="avatar")
          h4
            b Yan Hong
          h5 @honlyan
          h5 April 27, 2018 6:14AM
        p New WebDxD project is coming soon…
      .fade-cover