doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Web Tweet
    link(rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css")
    link(rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" type="text/css" media="screen" href="/css/fontawesome-all.css")
    link(rel="stylesheet" type="text/css" media="screen" href="/css/columns.css")
    link(rel="stylesheet" type="text/css" media="screen" href="/css/main.css")
    block style
  body
    include nav
    block content
    block script