doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Web Tweet
    link(rel="stylesheet" type="text/css" media="screen" href="/css/normalize.css")
    link(rel="stylesheet" type="text/css" media="screen" href="https://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet" type="text/css" media="screen" href="/css/fontawesome-all.css")
    link(rel="stylesheet" type="text/css" media="screen" href="/css/columns.css")
    link(rel="stylesheet" type="text/css" media="screen" href="/css/main.css")
    script.
      UPLOADCARE_PUBLIC_KEY="<YOUR-PUBLIC-KEY>"
      UPLOADCARE_LOCALE = "zh";
      UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram";
    script(src="https://ucarecdn.com/libs/widget/3.2.3/uploadcare.full.min.js" charset="utf-8")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    block style
  body
    include nav
    block content
    block script