nav.nav-bar
  .container.nav-container
    ul
      li
        a(href="/")
          img.logo(src="/img/webdxd.png" alt="webdxd")
      li
        a(href="/") Home
    div
      a(href="/profile")
        img.avatar-sm(src="/img/avatar.jpg" alt="avatar")