nav.nav-bar
  .container.nav-container
    ul
      li
        a(href="index.html")
          img.logo(src="img/webdxd.png" alt="webdxd")
      li
        a(href="index.html") Home
    div
      a(href="profile.html")
        img.avatar-sm(src="img/avatar.jpg" alt="avatar")